<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Layout</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    A
                </div>
                <div class="col">
                    B
                </div>
                <div class="col">
                    C
                </div>
            </div>
            
            <div class="row">
                <div class="col-2">
                    D
                </div>
                <div class="col-10">
                    E
                </div>
            </div>
            
            <div class="row">
                <div class="col-10">
                    F
                </div>
                <div class="col-2">
                    G
                </div>
            </div>
            
            <div class="row">
                <div class="col-2">
                    H
                </div>
                <div class="col-4">
                    I
                </div>
                <div class="col-4">
                    J
                </div>
                <div class="col-2">
                    K
                </div>
            </div>
            
        </div>
        
        
    </body>
</html>
