/osa03-Osa03_01.NewTables/target/
/osa03-Osa03_00.Pankkijarjestelma/target/
/osa03-Osa03_02.SimpleBanking/target/
/osa03-Osa03_03.AirportsAndAircrafts/target/
/osa03-Osa03_04.BankTransfer/target/
/osa03-Osa03_05.NamesAndAddresses/target/
/osa03-Osa03_06.LastMessages/target/
/osa03-Osa03_07.ExamsAndQuestions/target/