<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Courses</title>
    </head>

    <body>
        <h1>Courses</h1>
        
        <div th:each ="course : ${courses}">
            <a th:href="@{/courses/{id}(id=${course.id})}" th:text ="${course.name}">text here</a>
        </div>
        
        <h2>Add a course:</h2>
        <form th:action = "@{/courses}" method="POST">
            Name: <input type="text" name="name"/>
            <input type="submit" value="add"/>
        </form>
        
        

    </body>
</html>

